*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
body{
  /* background-image:url('./images/purple.png') */
}
body .react-bubbly-transitions__bubbly-link {
  color: #af44fd;
}
body .react-bubbly-transitions__bubbly-link.active {
  text-decoration: underline;
}
.logo{
  color: white;
  font-size: 28px;
}

/*  Movie Page  */

.Movie-Page{
  margin-top: 10px;
}
.Movie-Page .movie-palet{
  background-color: rgb(0, 0, 0);
  width: 48%;
  height: 440px;
  padding: 10px;
  margin-bottom:50px;
  margin-left: 20px;
  border-radius: 20px;
}
.Movie-Page .movie-palet .top-side{
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  margin: none;
  padding: 4px;
  margin-bottom: 4px;
}
.Movie-Page .movie-palet .middle-side{
  display: flex;
  flex-direction: row;
}
.Movie-Page .movie-palet .middle-side .poster{
  width: 60%;
  margin-left: 4px;
}
.Movie-Page .poster img{
  width: 100%;
  height: 100%;
}
.Movie-Page .middle-side .description{
  background-color:rgb(229, 202, 234);
  width: 54%;
  /* color:rgb(223, 172, 237); */
  color: black;
  border-radius: 4px;
  height: 380px;
}
.Movie-Page .middle-side .description .update{
  background-color: rgb(195, 108, 108);
}


.movie-palet .top-side{
  background-color: rgb(0, 0, 0);
  color:rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  margin: none;
  padding: 4px;
  margin-bottom: 4px;
}


.add{
  position: fixed;
  top: 90%;
  right: 50%;
}
.addmovie-container{
  margin-top: 40px;
  margin:0;
  text-align: center;
  justify-content:center;
}



/*  Home  */
.home-poster .poster-container{
  width: 180px;
  height: 200px;
  margin-left: 20px;
}
.home-poster .poster-container img{
  width: 100%;
  height: 80%;
}

/*  Search Page  */
.search-page .movie-palet{
  margin-bottom: 40px;
  background-color: rgb(80, 11, 94);
  width: 44%;
  margin-left: 40px;
  margin-top: 60px;
  height: 380px;
  border-radius: 20px;
}
.movie-palet .search-top-side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  color: white;
}
.search-page .movie-palet .search-middle-side .search-poster img{
  width: 100%;
  height: 320px;
}
.search-page .search-container{
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin-left: 60px;
  padding: 20px;
  border-radius: 10px;
}
.search-bar{
  margin-left: 20px;
}
.search-bar input{
  border-radius: 10px;
  width: 600px;
  height:32px;
  border: 1px solid black;
  text-align: center;
  margin-right: 10px;
  font-size: 24px;
  color: black;
  background-color: white;

}
.search-bar button{
  background-color: rgb(255, 255, 255);
  padding: 4px;
  border-radius: 50%;
  font-size: 28px;
}
.dropdown {
    /* Add desired styling properties */
    width: 100px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    /* Add more styles as needed */
}
.middle-side .poster img{
  width: 80%;
  height: 80%;
}

.search-movie-palet{
  background-color: rgb(244, 194, 249);
  width: 40%;
  height: 420px;
  padding: 10px;
  margin:50px;
  margin-left: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.movie-palet .search-middle-side{
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
}
.search-middle-side .search-description{
  background-color: rgb(0, 0, 0);
  color: white;
  width: 300px;
  padding: 5px;
}
.search-poster img{
  width: 96%;
  height: 360px;
}

/*  HOME  */
.poster-home{
  width: 300px;
  height: 400px;
  margin-right: 20px;
}
.poster-home .poster img{
  width: 80%;
  height: 80%;
}


/*  Blob  */
.blob {
  background-color: #670a95;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  animation: blobAnimation 5s infinite;
}

.blob:nth-of-type(2) {
  width: 150px;
  height: 150px;
  top: 100%;
  left: 0%;
}
.blob:nth-of-type(3) {
  width: 150px;
  height: 150px;
  top: 0%;
  left: 10%;
}
.blob:nth-of-type(4) {
  width: 150px;
  height: 150px;
  top: 80%;
  left: 80%;
}
.blob:nth-of-type(5) {
  width: 150px;
  height: 150px;
  top: 0%;
  left: 100%;
}
.blob:nth-of-type(6) {
  width: 150px;
  height: 150px;
  top: 60%;
  left: 24%;
}
.blob:nth-of-type(6) {
  width: 150px;
  height: 150px;
  top: 20%;
  left: 70%;
}

@keyframes blobAnimation {
  0% {
    width: 200px;
    height: 200px;
  }
  50% {
    width: 240px;
    height: 240px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.content {
  position: relative;
  z-index: 1;
}

